.general-btn {
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 67px 16px 69px;
  cursor: pointer;
  outline: none;
  border: none;

  &--active {
    background: #D600FF;

    &:hover {
      background: #7400FF;
    }
  }

  &--dsiabled {
    background: #EDEDF6;
    color: #110421;
  }

}