.admin-modal {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 480px;
  min-height: 100vh;
  box-shadow: 0 16px 40px 0 rgba(38, 63, 75, 0.12);
  background-color: #ffffff;
  z-index: 999999;
  padding: 32px;
  box-sizing: border-box;
  overflow-y: auto;

  &__close-icon {
    position: absolute;
    top: 35px;
    right: 19px;
    cursor: pointer;
  }

  &__application_id {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #A6ACBE;
    margin: 0;
    padding-bottom: 3px;
  }

  h2 {
    margin: 0 -32px;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #110421;
    padding-bottom: 30px;
    border-bottom: 1px solid #EDEDF6;
  }

  &__form {
    display: flex;
    flex-direction: column;

    .button-root {
      margin-left: auto;
      margin-top: 118px;
    }

  }

  &__form-field-ages {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__form-field-age {
    width: 226px;

    &:last-child {
      margin-left: 24px;
    }
  }

  &__form-field {
    margin-top: 32px;
  }

  &__form-field-link {
    .MuiInputBase-input {
      padding-right: 60px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

.offer-modal {
  @media screen and (max-width: 480px) {
    width: 100% !important;
    .complete-message {
      height: 80%;
    }
  }
}