.report-root {
  &__filters {
    padding: 20px 20px 20px 40px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    h6 {
      margin: 0 10px 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #6A7083;
    }
  }

  &__datepicker {
    width: 150px;
    height: 36px;
    background: #EEF0F7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-right: 10px;

    span {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #6A7083;
      margin-right: 8px;
    }

    .header-filter__date-custom input {
      background: #EEF0F7;
    }
  }

  &__show-btn.MuiButton-root {
    background: #7400FF;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 20px;
    cursor: pointer;

    &:hover {
      background: #4b02a1;
    }
  }

  &__download-btn.MuiButton-root {
    background: #0099FF;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 20px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background: #0481d5;
    }
  }

  // table

  &__table-root {
    padding: 38px 40px 20px 20px;
  }

  &__table {
    border: transparent;

    th {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #6A7083;
      border-bottom: transparent;
    }

    td {
      border-bottom: transparent;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #110421;

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        font-weight: bold;
      }
    }

    tbody {
      .MuiTableCell-root {
        background: #ffffff;

        &:first-child {
          color: #A6ACBE;
          font-size: 14px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background: #ffffff;
        }

        &:nth-child(2) {
          color: #6A7083;
          font-weight: bold;
        }

        &:nth-child(3),
        &:nth-child(4), {
          max-width: 180px;
        }

        &:nth-child(6) {
          color: #6A7083;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

      }
    }
  }
}