.blogger-root {

  &__filters {
    padding: 0 20px 12px 40px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .filter-button {
      margin-right: 20px;
      margin-top: 12px;
    }

    .header-filter__search {
      padding-top: 6px;
      padding-bottom: 6px;
      min-width: 150px;
      max-width: 200px;
      margin-top: 12px;
      margin-right: 15px;
    }
  }

  @media screen and (max-width: 1090px) {
    &__filters {
    }
  }

  &__filters-switch {
    display: flex;
    margin-left: auto;
    margin-top: 12px;

    .switch-item {
      padding: 6px 6px 2px;
      background: #EEF0F7;
      border-radius: 6px;
      margin: 0 4px;
      cursor: pointer;

      &--active {
        background: #7400FF;
      }
    }
  }


  // items
  &__items {
    padding: 15px 5px 15px 25px;

  }

  &__items--flex {
    //display: grid;
    //grid-template-columns: fit-content(300px) fit-content(1fr) 1fr;
    //gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    background: #FFFFFF;
    box-shadow: 0px 3px 0px #EDEDF6;
    border-radius: 10px;
    padding: 24px 20px;
    max-width: 300px;
    min-width: 300px;
    height: auto;
    display: flex;
    margin: 15px;
    flex-direction: column;

    &:hover {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
      transition: 0.4s ease-in;

      .grid-item__btn {
        background: #7400FF;
        color: #FFFFFF;
        transition: 0.5s ease-out;
        cursor: pointer;
      }
    }

    &__header {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid #EDEDF6;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;
      margin-right: -20px;
      max-height: 101px;
      box-sizing: border-box;
    }

    &__header-img {
      margin-right: 22px;
      width: 60px;
      height: 60px;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 50%;
      }

      position: relative;

      .rating {
        position: absolute;
        bottom: -3px;
        right: -6px;
        width: 26px;
        height: 26px;
        padding: 3px 4px;
        border-radius: 50%;
        background: #24AF47;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
      }
    }

    &__header-names {
      display: flex;
      flex-direction: column;
      margin-right: 40px;

      .status-name {
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #2C59E5;
        margin: 0;
        display: flex;
        align-items: center;

        &--exclusive {
          color: #FBBD0E;
        }
      }

      &.--status-lg {
        font-size: 7px !important;
        color: #1A051D;
        margin-left: 7px;
      }

      .name {
        margin: 4px 0 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
        text-transform: capitalize;
        word-break: break-all;
        min-width: 155px;
      }

      .gender-country {
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #A6ACBE;
      }
    }

    &__header-options {
      margin-left: auto;

      .MuiIconButton-root:hover {
        background: transparent;
      }


      span {
        cursor: pointer;
      }
    }

    &__body {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &__socials {
      padding-bottom: 20px;
    }

    &__social {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }

      .link {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #6A7083;
        text-decoration: none;
        margin-left: 16px;
        max-width: 65%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          text-decoration-line: underline;
          color: #0099FF;
        }
      }

      .subscribers-count {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #110421;
        margin-left: auto;
      }
    }

    &__services {
      padding-bottom: 20px;
    }

    &__service {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }

      .link {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #6A7083;
        margin-left: 16px;
        max-width: 65%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .price {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #110421;
        margin-left: auto;
      }

    }

    &__subjects {
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;
      padding-bottom: 34px;

      .subject {
        padding: 8px 22px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(61, 213, 255, 0.05);
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 6px;
        color: #0099FF;

        &:nth-child(1) {
          background: rgba(116, 0, 255, 0.05);
          color: #7400FF;
        }

        &:nth-child(2) {
          background: rgba(0, 153, 255, 0.05);
          color: #0099FF;
        }

        &:nth-child(3) {
          background: rgba(36, 175, 71, 0.05);
          color: #24AF47;
        }

        &:nth-child(4) {
          background: rgba(61, 213, 255, 0.05);
          color: #3DD5FF;
        }

        &:nth-child(5) {
          background: rgba(252, 216, 22, 0.05);
          color: #110421;
        }

        &:nth-child(4) {
          background: rgba(214, 0, 255, 0.05);
          color: #D600FF;
        }
      }
    }

    &__btn {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #7400FF;
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
      margin: auto auto 0 0;
      padding: 10px 19px;
      border-radius: 50px;
    }
  }

  .status-image {
    width: 12px;
    height: 12px;
    object-fit: fill;
    margin-right: 6px;
  }

  // list item
  .list-item {
    background: #FFFFFF;
    box-shadow: 0 1px 0 #EDEDF6;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;


    &:hover {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
      transition: 0.2s ease-in;
      cursor: pointer;

      .list-item__btn {
        background: #7400FF;
        color: #FFFFFF;
        transition: 0.5s ease-out;
        cursor: pointer;
      }
    }

    &__header {
      display: flex;
      max-width: 260px;
      min-width: 260px;
    }

    &__header-img {
      margin-right: 22px;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 50%;
      }

      position: relative;

      .rating {
        position: absolute;
        top: 33px;
        right: -6px;
        width: 26px;
        height: 26px;
        padding: 3px 4px;
        border-radius: 50%;
        background: #24AF47;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
      }
    }

    &__header-names {
      display: flex;
      flex-direction: column;

      .status-name {
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #2C59E5;
        margin: 0;
        word-break: break-all;
        display: flex;
        align-items: center;

        &--exclusive {
          color: #FBBD0E;
        }
      }

      &--status-lg {
        font-size: 8px !important;
        color: #1A051D;
        margin-left: 7px;
      }

      .name {
        margin: 4px 0 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
        text-transform: capitalize;
        word-break: break-all;
      }

      .gender-country {
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #A6ACBE;
        word-break: break-all;
      }
    }

    &__body {
      display: flex;
    }

    &__socials {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 180px;
      min-width: 180px;

    }

    &__social {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 5px;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 8px;
      }

      .subscribers-count {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #110421;
        margin-left: auto;
      }
    }

    &__services {
      display: flex;
      min-width: 180px;
      max-width: 180px;
      align-items: center;
      flex-wrap: wrap;
    }

    &__service {
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      &:last-child {
        margin: 0;
      }

      .link {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #6A7083;
      }

      .price {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #110421;
      }

    }

    &__subjects {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 325px;

      .subject {
        padding: 8px 22px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(61, 213, 255, 0.05);
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 6px;
        color: #0099FF;
        min-width: 80px;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &__name {
          max-width: 100%;
          overflow: hidden;
        }

        &:nth-child(1) {
          background: rgba(116, 0, 255, 0.05);
          color: #7400FF;
        }

        &:nth-child(2) {
          background: rgba(0, 153, 255, 0.05);
          color: #0099FF;
        }

        &:nth-child(3) {
          background: rgba(36, 175, 71, 0.05);
          color: #24AF47;
        }

        &:nth-child(4) {
          background: rgba(61, 213, 255, 0.05);
          color: #3DD5FF;
        }

        &:nth-child(5) {
          background: rgba(252, 216, 22, 0.05);
          color: #110421;
        }

        &:nth-child(4) {
          background: rgba(214, 0, 255, 0.05);
          color: #D600FF;
        }
      }
    }

    &__btn {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #7400FF;
      background: transparent;
      outline: none;
      cursor: pointer;
      margin-left: auto;
      padding: 8px 12px;
      border-radius: 50px;
      border: 1px solid #7400FF;

      &--black {
        background-color: #110421;
        color: #FFFFFF;
        display: flex;
        align-items: center;

        span {
          margin-right: 7px;
        }
      }

      &--disabled {
        background: #EDEDF6;
        color: #110421;
        border: 1px solid #EDEDF6;

        &:hover {
          content: none;
        }
      }
    }

    &__options {
      margin-left: 15px;
      cursor: pointer;
    }
  }

  // Select bloggers
  &__bloggers-count {
    background: #FFFFFF;
    box-shadow: 0px -8px 10px #EDEDF6;
    border-radius: 0 0 10px 10px;
    padding: 32px 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    right: 21px;
    bottom: 0;
    width: 100%;

    h6 {
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #110421;
      margin: 0 60px 0 auto;
    }

    span {
      color: #7400FF;
    }

    .list-item__btn {
      padding: 12px 30px;
      margin-left: 0;

      &:hover {
        background-color: #7400FF;
        color: #ffffff;
      }

      &--disabled {
        background-color: #EDEDF6;
        color: #ffffff;
        border-color: #EDEDF6;

        &:hover {
          background-color: #EDEDF6;
          color: #ffffff;
        }

      }
    }
  }

}

.header-options-list {
  display: flex;
  align-self: center;

  .text {
    margin-left: 13px;
  }

  .icon {
    margin-bottom: 3px;
  }
}

.grid-option-button {
  padding: 0 !important;
}