.dashboard {
  .MuiAppBar-colorPrimary {
    background-color: #ffffff;
    border-bottom: 1px solid #EDEDF6;
  }

  .makeStyles-content-9 {
    padding: 0;
  }

  .makeStyles-drawerHeader-8 {
    height: 100px;
  }

  .MuiToolbar-regular {
    height: 100px;
  }

  header {
    position: fixed;
  }

  .MuiDrawer-paper {
    position: fixed;

    &:before {
      content: "";
      position: absolute;
      top: 29px;
      left: 22px;
      width: 130px;
      height: 40px;
      background: url(../../assets/logo.png) 50% 50% no-repeat;
      background-size: contain;
      opacity: 0;
      animation: fadeInLeft 1s ease-in-out 0s forwards;
      animation-delay: 0.5s;

    }

  }


}

.no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__text {
    margin: 0;
  }
}