.modal-form {
  margin-top: 30px;

  &__form-datetime {
    margin-bottom: 30px;
    margin-top: 30px;

    p {
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: #110421;
      margin: 0 0 10px;
    }
  }

  .admin-date-picker-root:after {
    top: 19px;
  }

  &__form-datetime-calendar {
    border: 1px solid #DADCE5;
    padding: 11px 16px 11px 0;
    border-radius: 6px;
    color: #A6ACBE;

    &:hover {
      border-color: #7400FF;
    }

    .admin-date-picker-root__date-field {
      background: transparent;
      box-shadow: none;
      color: #110421;
      padding-left: 16px;
    }

    input:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    p {
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: #110421;
      margin: 0 0 10px;
    }


  }

  &__socials-add {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #0099FF;
    margin-left: auto;
    position: relative;
    padding-left: 15px;
    cursor: pointer;

    &:before {
      content: "+";
      color: #0099FF;
      font-size: 21px;
      position: absolute;
      left: 0;
    }

    &:after {
      content: "";
      position: absolute;
      width: 88%;
      height: 1px;
      background-color: #0099FF;
      bottom: 1px;
      right: 0;
    }
  }

  &__socials-fields {
    display: flex;
    align-items: flex-end;
    position: relative;

    .field_remove {
      cursor: pointer;
      position: absolute;
      right: -24px;
      top: 22px;
    }

    .social-select {
      margin: 0 10px 10px 0;
    }

    .input-form {
      margin: 0 0 10px;

      input {
        color: #0099FF;
      }
    }
  }

  .general-btn {
    margin-top: 30px;
  }

  // Blogger modal

  &__upload-root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgba(0, 153, 255, 0.1);
      border: 1px dashed #0099FF;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      margin: 10px 0 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #0099FF;
    }

    label {
      cursor: pointer;
    }

    .uploaded-image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: fill;
    }
  }

  &__upload {
    display: none;
  }

  &__status-select {
    margin-top: 16px;

    p {
      margin: 0 0 10px;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.00938em;
      color: #1A051D;
      text-transform: uppercase;
      font-weight: bold;
      max-width: 100%;

    }

    .MuiButton-label {
      p {
        max-width: 100%;

      }
    }

    .audience_age {
      margin-bottom: 10px;
    }

    .select {
      min-width: 100%;
    }

    .social-select {
      div {
        width: 93%;
        left: 12px !important;
      }
    }

  }

  &__gender-select {
    display: flex;
    margin-top: 16px;

    .gender {
      margin-right: 40px;
      display: flex;
      cursor: pointer;
      align-items: center;

    }


    .gender-circle {
      width: 28px;
      height: 28px;
      background: #FFFFFF;
      border: 2px solid #DADCE5;
      box-sizing: border-box;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__active {
        border-color: #7400FF;
      }
    }

    .gender-active {
      width: 10px;
      height: 10px;
      display: inline-block;
      background: #7400FF;
      border-radius: 50px;
    }

    .gender-value {
      margin-left: 10px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #A6ACBE;

      &--active {
        color: #110421;
      }
    }
  }

  &__date-mask {
    margin-top: 16px;

    p {
      margin: 0 0 10px;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.00938em;
      color: #1A051D;
      text-transform: uppercase;
      font-weight: bold;
    }

    .custom-input {
      font-size: 15px;
    }




  }

  .custom-input {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #DADCE5;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 20px;
    outline: none;

    &:hover {
      border-color: #7400FF;
    }
  }

  .error-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FA445C;
    margin-left: 10px;
  }


  // Tegs
  &__content_types {
    margin-top: 30px;

    p {
      margin: 0;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.00938em;
      color: #1A051D;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &__content_types-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    .content-type {
      padding: 12px 20px;
      background: #FFFFFF;
      border: 1px solid #EDEDF6;
      box-sizing: border-box;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      &__active {
        background: #7400FF;

        span {
          color: #FFFFFF;
        }
      }

      &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #6A7083;
      }
    }
  }

  &__advertise-types {
    .modal-form__socials-fields {
      align-items: center;

      .block {
        padding-right: 10px;

        &:nth-child(3) {
          margin-top: -9px;
        }

        &:nth-child(2),
        &:nth-child(4), {
          margin-top: -4px;
        }

        .input-form input,
        .MuiButton-label p {
          color: #A6ACBE;
          font-size: 14px;
        }

        .total-sum {
          padding: 16px;
          border-radius: 6px;
          border: 1px solid #bdbdbd;
          outline: none;
          color: #979dad;
          font-size: 14px;

          .MuiInputBase-input {
            padding: 0;
            text-align: center !important;
          }

          .MuiTypography-colorTextSecondary {
            margin: 0;
            color: #A6ACBE;
            font-size: 14px;
          }

          .MuiInputAdornment-positionEnd {
            margin-left: -10px;
          }
        }

        .total-sum.MuiInput-underline:after, .MuiInput-underline:before {
          border-bottom: transparent;
        }

        .total-sum.MuiInput-underline:hover:not(.Mui-disabled):before {
          border-bottom: transparent;
        }

        .total-sum.MuiInput-underline:after {
          border-bottom: transparent;
        }

        &:nth-child(1),
        &:nth-child(4), {
          padding-right: 0;
        }

        .social-select {
          border-color: #bdbdbd;
        }
      }

      .social-select button {
        padding: 13px;
      }


    }

    .not-found-variants {
      text-align: center;
      color: #1A051D;
      margin: 50px 0;
    }

    .percent-select {
      margin-top: 30px;
      min-width: 80px;
      max-width: 80px;
    }
  }

  &__socials-texts {
    display: flex;

    p {
      &:nth-child(1) {
        padding-right: 48px;
      }

      &:nth-child(2) {
        padding-right: 58px;
      }

      &:nth-child(3) {
        padding-right: 24px;
      }
    }
  }

  .icon-choose-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #110421;
    margin: 0 0 10px;
  }

  .file-upload-wrapper {
    $defaultColor: #4daf7c;
    $height: 56px;
    border-radius: 8px;
    border: 1px solid #DADCE5;
    box-sizing: border-box;
    background: #FFFFFF;
    position: relative;
    width: 100%;
    height: $height;
    margin-bottom: 20px;

    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      padding: 18px 15px 15px;
      display: block;
      width: calc(100% - 40px);
      pointer-events: none;
      z-index: 20;
      border-radius: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #a49ba5;

    }

    &__icon {
      position: absolute;
      z-index: 9999;
      right: 15px;
      top: 17px;
    }

    &:before {
      content: 'Загрузить';
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 55px;
      background: #0099FF;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      z-index: 25;
      line-height: $height;
      padding: 0 43px 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      &:before {
        background: #0370e5;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      height: $height - 20px;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
    }
  }

  .tag-color-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #110421;
    margin: 20px 0 0;
  }

  .tag-colors {
    margin-top: 16px;
    display: flex;

    &__color {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      cursor: pointer;
      &:first-child {
        border: 1px solid #e6e6e6;
      }
    }
  }

  .preview-tag-root {
    margin: 15px 0;
  }
  .preview-tag {
    border-radius: 6px;
    padding: 8px 22px;
    display: inline-block;
    max-width: 400px;
    span {
      word-break: break-all;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.description-tz {
  margin-top: 30px;
  margin-bottom: 30px;

  span {
    display: block;
    margin-bottom: 3px;
  }
}

.blogger-modal {
  .steps {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDF6;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -1px;
    background: #fff;
    padding-bottom: 2px;

    .step {
      width: 144px;
      height: 68px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &--active {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 101%;
          height: 4px;
          bottom: -3px;
          left: 0;
        }

        &:nth-child(1) {
          &:before {
            background: linear-gradient(90deg, #7400FF 0%, #7400FF 100%);
          }
        }

        &:nth-child(2) {
          &:before {
            background: linear-gradient(90deg, #7400FF 0%, #D600FF 100%);
          }
        }

        &:nth-child(3) {
          &:before {
            background: linear-gradient(90deg, #D600FF 0%, #D600FF 100%);
          }
        }

      }


      .step-numb {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #EDEDF6;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #A6ACBE;
        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
          background: #7400FF;
          border: 2px solid #7400FF;
          color: #FFFFFF;
        }
      }

      .step-title {
        margin: 8px 0 0;

        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #6A7083;
        padding-bottom: 12px;

        &--active {
          color: #110421;
        }
      }
    }
  }


}

.rejection_cause_text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #6A7083;
  margin: 30px 0 0;
}