.applications-archive {
  display: flex;
  flex-direction: column;
  height: 100%;
  .application-company__nav:nth-child(2):after {
    content: none;
  }

  .application-company__table {
    //padding-left: 30px;
  }
}