.application-blogger {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__navs {
    padding: 14px 40px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 1px solid #EDEDF6;
  }

  &__nav {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #6A7083;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    margin-right: 32px;

    &--red {
      &:nth-child(1) {
        position: relative;

        &:after {
          content: "";
          width: 8px;
          height: 8px;
          position: absolute;
          border-radius: 50%;
          top: -6px;
          right: -6px;
          background: #FA445C;
          border: 1px solid #FFFFFF;
        }
      }

    }

    &:hover {
      color: #110421;
    }

    &--active {
      color: #110421;
      font-weight: bold;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #7400FF 0%, #D600FF 100%);
        bottom: -15px;
        left: 0;
      }
    }
  }

  &__table-root {
    padding-left: 30px;
    max-width: 100%;
    padding-right: 40px;
  }

  &__table {
    margin-top: 20px;
    border: transparent;

    th {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #6A7083;
      border-bottom: transparent;
      padding: 12px 15px;
    }

    tbody {

      .MuiTableCell-root {
        border: transparent;
        padding: 16px 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #110421;
        background: #ffffff;

        &:first-child {
          color: #A6ACBE;
          font-size: 14px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background: #ffffff;
        }

        &:nth-child(2) {
          color: #6A7083;
          font-weight: bold;
        }

        &:nth-child(3),
        &:nth-child(4), {
          max-width: 180px;
        }

        &:nth-child(6) {
          color: #6A7083;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

      }
    }

  }

  &__table-row {
    box-shadow: 0 1px 0 #EDEDF6;
    border-radius: 10px;
  }

  &__table-social-img {
    margin-right: 10px;
  }

}