.sort-select {
  align-items: center;
  display: flex;
  margin-left: 18px;

  button {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #6A7083;
    background: transparent;
    border: none;
    outline: none;
    margin-right: 13px;
    cursor: pointer;
  }
}